__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.py

venv/

*.mp4
*.mov
*.gif
*.png
*.jpg
*.jpeg
*.zip

*.pth
*.pkl
*.pt
*.pth.tar
*.pkl.tar
*.pt.tar


# allow specific files
!li.png
!class_names.txt
!README.md